/*
 * General Containers
 */

@import 'twigkit/stylesheets/less/grid.less';

div.theme-options-liquid-left {
	float:left;
	width:100%;
}
div.theme-options-left {
   margin-left: 5px;
}
div.theme-options-liquid-right {
    clear: both;
    width: 300px;
}
div.theme-options-right {
    margin: 0 auto;
    width: 285px;
}
.theme-options-elements, 
.theme-options-holder{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-style: none solid solid;
    background-color: #FCFCFC;
    border-color: #DFDFDF;
    border-width: 0 1px 1px;
    min-height:50px;
    padding: 15px;
    margin: 0 auto 20px;
}
.theme-options-holder-content{
	min-height:50px;
}

/*
 * Boxes
 */
.box-name{
	border-style: solid;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-width: 1px;
    cursor: pointer;
    font-size: 13px;
    border-color: #DFDFDF;
    box-shadow: 0 1px 0 #FFFFFF inset;
    color: #464646;
    text-shadow: 0 1px 0 #FFFFFF;
    background-color: #F1F1F1;
    background-image: -moz-linear-gradient(center top , #F9F9F9, #ECECEC);
}
.box-name-arrow,
.box-settings, 
.box-close{
	float: right;
	cursor: pointer;
}
.box-name-arrow{
	background: url("../../../../wp-admin/images/arrows.png") no-repeat scroll 5px 9px transparent;
	height: 29px;
    width: 26px;
}
.box-settings{
	background: url("images/settings.png") no-repeat scroll transparent;
	width:12px;
	height:13px;
    margin-top: 2px;
    margin-right: 8px;
    float: left;
}
.box-close{
	background: url("images/close.png") no-repeat scroll transparent;
	width:12px;
	height:12px;
	cursor: pointer;
}
.box-name h3 {
    font-size: 15px;
    font-weight: normal;
    margin: 0;
    overflow: hidden;
    padding: 8px 10px;
    white-space: nowrap;
}
.theme-options-element-title p{
	margin:1px 0 0;
	float:left;
}

/*
 * Elements
 */
.theme-options-element{
	border-color: #DFDFDF;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 #FFFFFF inset;
    background-color: #F5F5F5;
    background-image: -moz-linear-gradient(center top , #F9F9F9, #F5F5F5);
}
.theme-options-element-title{
    color: #222222;
    text-shadow: 0 1px 0 #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: -1px;
    overflow: hidden;
    cursor: move;
}
.theme-options-element-title{
	padding: 7px 9px;
}

/* Correchtion of box arrow position for elements  */
.theme-options-element-content{
    background-color: #FCFCFC;
    border-bottom: 1px solid #DFDFDF;
    border-left: 1px solid #DFDFDF;
    border-top: 1px solid #DFDFDF;
    border-right: 1px solid #DFDFDF;
    border-radius: 3px 3px 3px 3px;
    margin: 0 auto 20px;
    min-height: 50px;
    padding: 15px;
    position: absolute;
    display:none;
}
.theme-options-element-content table{
	min-width:22em;
}
.show-settings{
	display:block;
	min-width: 26em;
	z-index: 999
}
/* Hiding if element is in Element box */
.theme-options-liquid-right .theme-options-element-title .box-settings, 
.theme-options-element-title .box-name-arrow, 
.theme-options-liquid-right .theme-options-element-content{
	display:none;
}

/*
 * Hiding sections
 */
.closed .theme-options-elements, 
.closed .theme-options-holder, 
.closed .theme-options-element-content{
	display: none;
}